.c-how-work {
    margin-bottom: 95px;
}

.c-how-work__top {
    margin-bottom: 71px;
}

.c-how-work__title {
    margin-bottom: 28px;
}

.c-how-work__heading {
    margin-bottom: 26px;
}

.c-how-work__text {
    margin-bottom: 22px;
    max-width: 470px;
}

.c-how-work__read-more {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    color: #391400;
    text-decoration: none;
}

.c-how-work__read-more:hover {
    text-decoration: none;
    opacity: 64%;
}

.c-how-work__bot {}

.c-how-work__list {
    list-style: none;
    margin-top: -19px;
    margin-bottom: -19px;
}

.c-how-work__item {
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
}

.c-how-work__order {
    margin-right: 38px;
    min-width: 46px;
} 

@media only screen and (min-width: 1216px) {
    .c-how-work {
        margin-bottom: 143px;
    }

    .c-how-work__heading {
        margin-bottom: 42px;
    }

    .c-how-work__text {
        margin-bottom: 0px;
    }

    .c-index__how-work .c-how-work__text {
        margin-bottom: 28px;
    }

    .c-how-work__bot {
        margin-top: 67px;
        width: 570px;
    }

    .c-index__how-work .c-how-work__bot {
        margin-top: 74px;
    }

    .c-how-work__order {
        margin-right: 54px;
    } 
}