.c-profile {
    margin-right: 30px;
    min-width: 270px;
}

.c-profile__img {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 29px;
    border: 1px solid #3a3c56;
    height: 272px;
}

.c-profile__img > img {
    width: auto;
    height: auto;
}